---
title: "About us"
section: "about"

primary_members:

    - name: Tom Frieden, MD MPH
      title: President &amp; Chief Executive Officer
      short_name: tfrieden
      description: Dr. Tom Frieden is one of the world’s leading public health experts. Prior to founding Resolve to Save Lives, Tom was the director of the US Centers for Disease Control.

    - name: Marc G. Jaffe, MD
      title: Senior Vice President
      short_name: mjaffe
      description: Dr. Jaffe is the SVP of the Cardiovascular Health project. Marc lead the creation of programs at Kaiser Permanente Northern California including their hypertension program “PHASE".

    - name: Amanda McClelland RN, MSC
      title: Senior Vice President
      short_name: amcclelland
      description: Amanda spent her career in public health and has done many things. We will write a brief description of her accomplishments here but we will link to more info since he has a lot of info.

    - name: Jeannie Mantopoulos
      title: Chief Operating Officer
      short_name: jmantopoulos
      description: Jeannie provides leadership and management to promote operational excellence across Resolve to Save Lives' two project areas.

secondary_members:

    - name: Daniel Burka
      title: Dir. of Product and Design, Tech Team
      short_name: dburka
      
    - name: Tim Cheadle
      title: Dir. of Engineering, Tech Team
      short_name: tcheadle

    - name: Laura Cobb
      title: Director, Resolve to Save Lives

    - name: Dr Theresa Cullen
      title: Dir. of Operations, Tech Team
      short_name: tcullen

    - name: Dr. Lalit Kant
      title: Country director, India

    - name: Mansi Kapoor
      title: India Team Operations
    
    - name: Dr. Gaurav Kumar
      title: India team
    
    - name: Chris Lee
      title: Technical Officer, Preventing Epidemics
    
    - name: Louise Lopez
      title: Operations

    - name: Dr Anupam Pathni
      title: India Team 

    - name: Leena Ramanan
      title: India Team Operations
    
    - name: Le Quach
      title: Program Officer, Preventing Epidemics  

    - name: Cyrus Shahpar
      title: Director, Preventing Epidemics      

    - name: Dr Roopa Shivashankar
      title: India team
    
    - name: Lindsay Steele
      title: Program Officer, Resolve to Save Lives
    
    - name: Erin Sykes
      title: Communications Manager
    
    - name: Ioanna Trilivas
      title: Senior Talent and Leadership Advisor
    
    - name: Adoplhine Umukobwa
      title: Operations

    - name: Shumei Yun
      title: Country director, China

---

<h1>About Resolve to Save Lives</h1>

<p class="intro">At Resolve to Save Lives we have one mission: save lives. We will save 100 million lives by implementing proven solutions to prevent heart disease and stroke, the world’s leading cause of death. And we are helping the world prevent the next disease outbreak by catalyzing country action to find, stop and prevent new disease threats.</p>

<p>With $225 million dollars from Bloomberg Philanthropies, the Chan Zuckerberg Initiative, and the Bill &amp; Melinda Gates Foundation, Resolve to Save Lives uses proven strategies to take urgent action that improves health in low- and middle-income countries.</p>

<div class="graph">
    <div class="image"><a href="#"><img src="/images/youtube-tom.jpg" alt=""></a></div>
    <div class="caption">Dr. Tom Frieden explains the mission of Resolve to Save Lives</div>
</div>




<h2>Investment and technical support</h2>
<div class="image-float"><a href="#"><img src="/images/one-pager.jpg" alt=""> Download a 1-pager about Resolve to Save Lives</a></div>
<p>More investment and technical support is needed to reduce the burden of CVD and related, preventable deaths. Similarly, investment and technical assistance can improve the capacity of countries to prevent, identify, and respond effectively to infectious disease outbreaks and prevent them from becoming epidemics.</p>

<h2>Building on proven solutions</h2>
<p>Resolve to Save Lives will accelerate and scale up the implementation of proven tools and strategies to identify and close deadly gaps in public health and save millions of lives. A team of global health experts will work with governments and civil society in low- and middle-income countries to support the adoption of evidence-based strategies that will deliver life-saving changes in health policies and systems.</p>
<p>The initiative will also strengthen tracking and accountability systems to guide and accelerate progress. Resolve to Save Lives will work with and support key partners including the World Health Organization, the CDC Foundation, World Bank, Campaign for Tobacco-Free Kids, and the Johns Hopkins Bloomberg School of Public Health.</p>

<h2>Team</h2>

<p>Our team of global health experts works with governments to help them implement evidence-based strategies that allow their citizens to lead the healthiest lives possible.</p>
<p>The New York City-based initiative is led by Dr. Tom Frieden, former director of the Centers for Disease Control and Prevention, and is housed within Vital Strategies.</p>

<div class="team">
    
    <div class="members-primary">
        
        <% current_page.data.primary_members.each do |member| %>
            <div class="member">
                <div class="member-contents">
                    <h3><a href="#"><%= member.name %> <span class="img"></span></a></h3>
                    <div class="title"><%= member.title %></div>
                    <p><%= member.description %></p>
                    <a href="#" class="more">More...</a>
                </div>
            </div>
        <% end %>
        
    </div>
    
    <div class="clear"></div>
    
    <div class="members-secondary">
        
        <% current_page.data.secondary_members.each do |member| %>
            <div class="member">
                <div class="member-contents">
                    <h3><a href="#"><%= member.name %> <span class="img"></span></a></h3>
                    <div class="title"><%= member.title %></div>
                    <p><%= member.description %></p>
                </div>
            </div>
        <% end %>
        
    </div>
    <div class="clear">&nbsp;</div>
</div>

<h2>Vital Strategies</h2>
<p>Resolve to Save Lives is housed within Vital Strategies, a global health organization that works in 60 countries to address the world’s most challenging health issues. Resolve to Save Lives fits perfectly with Vital Strategies’ vision of a world where every person is protected by a strong public health system.</p>