---
title: "About us"
section: "about"

primary_members:

    - name: Dr. Tom Frieden
      title: Founder and CEO
      short_name: tfrieden
      description: Tom spent his career in public health and has done many things. We will write a brief description of his accomplishments here but we will link to more info since he has a lot of info.</p>
      links:
      - title: Twitter
        url: http://twitter.com/tomfrieden
      - title: Full Bio
        url: /tfrieden

    - name: Dr. Marc Jaffe
      title: VP of Cardiovascular Health
      short_name: mjaffe
      description: Marc spent his career in public health and has done many things. We will write a brief description of his accomplishments here but we will link to more info since he has a lot of info.</p>
      links:
      - title: Youtube
        url: #

    - name: Amanda McClelland RN, MSC
      title: VP of Preventing Epidemics
      short_name: amcclelland
      description: Amanda spent her career in public health and has done many things. We will write a brief description of her accomplishments here but we will link to more info since he has a lot of info.</p>
      links:
      - title: Twitter
        url: http://twitter.com/dburka
      - title: LinkedIn
        url: http://linkedin.com/dburka

    - name: Jeannie Mantopoulos
      title: COO
      short_name: jmantopoulos
      description: Jeannie spent her career in public health and has done many things. We will write a brief description of her accomplishments here but we will link to more info since he has a lot of info.</p>
      links:
      - title: Twitter
        url: http://twitter.com/dburka
      - title: LinkedIn
        url: http://linkedin.com/dburka

secondary_members:

    - name: Daniel Burka
      title: Director of Product and Design, Tech Team
      short_name: dburka
      description: Daniel runs product and design for our tech team. He was previously a design partner at Google Ventures and a founder of a startup in San Francisco.
      links:
      - title: Twitter
        url: http://twitter.com/dburka
      - title: LinkedIn
        url: http://linkedin.com/dburka

    - name: Dr Theresa Cullen
      title: Director of Operations, Tech Team
      short_name: tcullen
      description: Terry is a very experienced informatics expert with deep experience in public health, global health, and IT projects around the world.
      links:
      - title: LinkedIn
        url: http://linkedin.com/dburka

    - name: Daniel Burka
      title: Director of Product and Design
      short_name: dburka
      description: Daniel is a nerd with a short bio that links to more.
      links:
      - title: Twitter
        url: http://twitter.com/dburka
      - title: LinkedIn
        url: http://linkedin.com/dburka

    - name: Daniel Burka
      title: Director of Product and Design
      short_name: dburka
      description: Daniel is a nerd with a short bio that links to more.
      links:
      - title: Twitter
        url: http://twitter.com/dburka
      - title: LinkedIn
        url: http://linkedin.com/dburka

    - name: Daniel Burka
      title: Director of Product and Design
      short_name: dburka
      description: Daniel is a nerd with a short bio that links to more.
      links:
      - title: Twitter
        url: http://twitter.com/dburka
      - title: LinkedIn
        url: http://linkedin.com/dburka

    - name: Daniel Burka
      title: Director of Product and Design
      short_name: dburka
      description: Daniel is a nerd with a short bio that links to more.
      links:
      - title: Twitter
        url: http://twitter.com/dburka
      - title: LinkedIn
        url: http://linkedin.com/dburka
    
    - name: Daniel Burka
      title: Director of Product and Design
      short_name: dburka
      description: Daniel is a nerd with a short bio that links to more.
      links:
      - title: Twitter
        url: http://twitter.com/dburka
      - title: LinkedIn
        url: http://linkedin.com/dburka

    - name: Daniel Burka
      title: Director of Product and Design
      short_name: dburka
      description: Daniel is a nerd with a short bio that links to more.
      links:
      - title: Twitter
        url: http://twitter.com/dburka
      - title: LinkedIn
        url: http://linkedin.com/dburka

    - name: Daniel Burka
      title: Director of Product and Design
      short_name: dburka
      description: Daniel is a nerd with a short bio that links to more.
      links:
      - title: Twitter
        url: http://twitter.com/dburka
      - title: LinkedIn
        url: http://linkedin.com/dburka

    - name: Daniel Burka
      title: Director of Product and Design
      short_name: dburka
      description: Daniel is a nerd with a short bio that links to more.
      links:
      - title: Twitter
        url: http://twitter.com/dburka
      - title: LinkedIn
        url: http://linkedin.com/dburka
---

<h1>About Resolve to Save Lives</h1>

<p class="intro">We aim to reduce deaths from high blood pressure by assisting countries to reduce sodium in foods, banning trans-fats, and increasing the efficacy of blood pressure diagnosis and treatment.</p>

<p>This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>

<div class="graph">
    <div class="image"><a href="#"><img src="/images/youtube-tom.jpg" alt=""></a></div>
    <div class="caption">Dr. Tom Frieden explains the mission of Resolve to Save Lives</div>
</div>

<p>This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>

<h2>Team</h2>

<p>Resolve to Save Lives is a growing team. See our <a href="#">careers</a> section to see if there is a role available for you.</p>

<div class="team">
    
    <div class="members-primary">
        
        <% current_page.data.primary_members.each do |member| %>
            <div class="member">
                <div class="member-contents">
                    <span class="img"></span>
                    <h3><%= member.name %></h3>
                    <div class="title"><%= member.title %></div>
                    <p><%= member.description %></p>
                    <div class="links">
                        <% member.links.each do |link| %>
                            <a href="<%= link.url %>"><%= link.title %></a> 
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
        
    </div>
    
    <div class="clear"></div>
    
    <div class="members-secondary">
        
        <% current_page.data.secondary_members.each do |member| %>
            <div class="member">
                <div class="member-contents">
                    <span class="img"></span>
                    <h3><%= member.name %></h3>
                    <div class="title"><%= member.title %></div>
                    <p><%= member.description %></p>
                    <div class="links">
                        <% member.links.each do |link| %>
                            <a href="<%= link.url %>"><%= link.title %></a> 
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
        
    </div>
    
</div>