---
title: "History"
section: "home"
timeline:

    - date: October 16, 2018
      align: left
      image: liberia-16-oct.jpg
      content: |-
            <h4>Supporting health security improvements in Liberia</h4>
            <p>We met with representatives from the National Public Health Institute of Liberia to discuss ways to accelerate progress on health security.</p>

    - date: October 3, 2018
      align: right
      image: pe-3-oct.jpg
      content: |-
            <h4>From data to action</h4>
            <p>Our Prevent Epidemics team met with colleagues from the Global Health Advocacy Incubator to prototype the second phase of <a href="https://preventepidemics.org/">PreventEpidemics.org</a>. The update is focused on moving from data to action.</p>

    - date: September 27, 2018
      align: left
      image: fuwai-27-sep.jpg
      content: |-
            <h4>Improving blood pressure control in China</h4>
            <p>Our team visited Fuwai Hospital Beijing and met with clinicians to discuss hypertension treatment and control.</p>

    - date: September 25, 2018
      align: right
      image: tom-25-sep.jpg
      content: |-
            <h4>Dr. Tom Frieden on Access to NCD Treatment and Care</h4>
            <p>During a side event at the UN General Assembly, Dr. Tom Frieden discusses the importance of political will, technical excellence and accessible health systems in blood pressure control.</p>


    - date: September 7, 2018
      align: left
      image: lancet-sept-2018.jpg
      imagelink: "https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31814-2/fulltext?dgcid=raven_jbs_etoc_email"
      content: |-
            <h4>"Fixed-dose combinations for hypertension"</h4><p>80 million people could have their blood pressure controlled if they switch to fixed-dose combination pills. Read more in <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31814-2/fulltext?dgcid=raven_jbs_etoc_email">this Lancet editorial</a>, co-authored by our team members Dr. Tom Frieden and Dr. Marc Jaffe.</p>

    - date: August 27, 2018
      align: right
      image: ICEID-2018.jpg
      content: |-
            <h4>ICEID conference in Atlanta</h4><p>The world’s leading infectious disease experts and country health officials gathered in Atlanta for the <a href="http://www.iceid.org/events/iceid-2018/event-summary-f71900f4a8c04f0896ad32ebb4478f09.aspx">ICEID conference</a>. Attendants were able to learn more about their country’s preparedness for the next epidemic through custom demos of <a href="http://PreventEpidemics.org">PreventEpidemics.org</a></p>

    - date: August 14, 2018
      align: left
      image: jama-aug-2018.jpg
      imagelink: "https://jamanetwork.com/journals/jama/article-abstract/2696988"
      content: |-
            <h4>Dr Marc Jaffe co-authored an article in JAMA</h4><p>Dr. Marc Jaffe co-authored <a href="https://jamanetwork.com/journals/jama/article-abstract/2696988">an editorial for the Journal of the American Medical Association</a>, stressing the importance of fixed-dose combination therapy for the control of blood pressure on a global scale.</p>

    - date: August 6, 2018
      align: left
      image: africa-aug-2018.jpg
      content: |-
            <h4>African Field Epidemiology Network</h4><p>We met with representatives of the <a href="http://www.afenet.net/">African Field Epidemiology Network</a>: they are a non-profit alliance dedicated to helping Ministries of Health in Africa build strong, effective, sustainable programs.</p>


    - date: July 20, 2018
      align: right
      image: vietnam-2018.jpg
      content: |-
            <h4>Viet Nam</h4><p>In July, <a href="http://www.who.int/countries/vnm/en/">WHO Viet Nam</a> and Resolve to Save Lives met with local clinicians to support the launch of Viet Nam’s hypertension control efforts. </p>

    - date: July 17, 2018
      align: left
      image: vietnam-committment-2018.jpg
      content: |-
            <h4>Progress in Viet Nam</h4><p>Viet Nam committed to improve blood pressure control rates and reduce salt intake during a launch workshop in Ha Noi on July 17. The Ministry of Health, WHO and our team will work together to select hypertension treatment protocols and establish ways to evaluate their impact. <a href="http://www.wpro.who.int/vietnam/mediacentre/shortnews/2018/joint_collaboration_tackle_ncd_vietnam/en/">Read more...</a></p>

    - date: July 2-6, 2018
      align: right
      image: tech-july-2018.jpg
      content: |-
            <h4>"Simple" app piloted in Punjab</h4><p>The Resolve to Save Lives tech team ran our first real-world pilot of the <a href="http://simple.org">Simple</a> Android application, which aims to help healthcare workers to longitudinally track their hypertensive patients.</p>

    - date: June 22, 2018
      align: full
      image: prevent-epidemics.jpg
      imagelink: "http://preventepidemics.org"
      content: |-
            <h4>PreventEpidemics.org</h4>
            <p>We launched  <a href="http://preventepidemics.org">PreventEpidemics.org</a>, an interactive website which spotlights gaps in epidemic preparedness and highlights actions that countries, donors, activists and organizations can take to fill them.</p>

    - date: May 30, 2018
      align: left
      image: china-may-2018.jpg
      content: |-
            <h4>Hypertension work in China</h4>
            <p>Dr. Marc Jaffe traveled to China to meet with partners at the World Bank and others, and to advance the hypertension prevention work. In this photo  Dr. Jaffe is having his blood pressure measured by Professor Liu Lisheng of the Beijing Lisheng Health Foundation.</p>

    - date: May 24, 2018
      align: right
      image: wha-may-2018.jpg
      content: |-
            <h4>2018 World Health Assembly</h4>
            <p>At the <a href="http://www.who.int/world-health-assembly/seventy-first">2018 World Health Assembly</a>, Dr. Tom Frieden participated in a discussion on “Reducing Sugar, Salt and Fat to Prevent NCDs.”</p>

    - date: May 14, 2018
      align: left
      image: lancet-replace.jpg
      content: |-
            <h4>Make the world trans fat free by 2023</h4>
            <p>The Lancet published <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31083-3/fulltext">"REPLACE a roadmap to make the world trans fat free by 2023"</a> written by Dr. Tedros Adhanom Ghebreyesus and Dr. Tom Frieden</p>
    

    - date: May 12, 2018
      align: full
      image: replace-launch.jpg
      content: <h4>REPLACE launched</h4><p>The World Health Organization announced REPLACE, a ground-breaking initiative developed in partnership with Resolve to Save Lives, which aims to eliminate trans fats from the global food supply by 2023. Read about it in <a href="https://www.nytimes.com/2018/05/14/health/trans-fats-who-ban.html">The New York Times</a>, <a href="https://www.cnn.com/2018/05/14/health/trans-fats-who-2023-intl-bn/index.html">CNN</a>, <a href="https://www.wsj.com/articles/food-makers-vow-to-cut-trans-fats-globally-1526271513">The Wall Street Journal</a>, or <a href="https://www.vox.com/science-and-health/2018/5/14/17346108/trans-fats-food-world-health-organization-bloomberg-gates">Vox</a>.</p>

    - date: May 1, 2018
      align: left
      image: tanzania-may-2018.jpg
      content: <h4>NAPHS in Nigeria</h4><p> Dr. Chris Lee traveled to Nigeria to support the government's development of their <a href="https://reliefweb.int/report/nigeria/nigeria-develops-national-action-plan-health-security">National Action Plan for Health Security</a>.</p>

---

<div class="home-feature-wrapper">
    <div class="home-feature">
        <h1>Timeline</h1>
    </div>
</div>

<div class="time">
    
    <span class="line"></span>
    
    <% current_page.data.timeline.each do |item| %>
        <div class="time-item time-<%= item.align %>">
            <div class="time-date"><%= item.date %></div>
            <div class="time-content">
                <% if item.imagelink %><a href="<%= item.imagelink %>"><% end %>
                    <% if item.image %><div class="image"><img src="/images/timeline/<%= item.image %>" alt=""></div><% end %>
                <% if item.imagelink %></a><% end %>
                <%= item.content %>
            </div>
        </div>
    <% end %>
    
    <div class="clear">&nbsp;</div>
    
</div>