---
title: "Home"
section: "home"
timeline:

    - date: January 17, 2019
      align: left
      image: uganda-17-jan.jpg
      content: |-
            <h4>Uganda prepares its borders for potential Ebola cases</h4>
            <p>A Ugandan Red Cross employee wearing personal protection gear watches as a man crossing into Uganda from the DRC dips his feet into a bleach solution. Anyone crossing from the DRC into Uganda must go through one of these health screening sites before proceeding to the immigration point. Our Prevent Epidemics team deployed to Uganda to support their preparedness efforts.</p>
            
            
    - date: December 18, 2018
      align: right
      image: ncd-18-dec.jpg
      content: |-
            <h4>Momentum growing to eliminate trans fat</h4>
            <p>The NCD Alliance hosted a trans fat event at their “NCD Café” at the World Congress of Cardiology and Cardiovascular Health in Dubai. The key message at the event was that trans fat is a harmful compound that can be completely replaced without changing cost or taste of food.</p>


    - date: December 18, 2018
      align: left
      image: WHO-18-dec.jpg
      content: |-
            <h4>Highlighting the Burden of Untreated Hypertension at WHO Global Forum</h4>
            <p>Resolve to Save Lives participated in the 4th WHO Global Forum on Medical Devices in India, highlighting the enormous burden of disease from untreated hypertension and the need for availability of better devices for detecting high blood pressure.</p>
            

    - date: December 17, 2018
      align: right
      image: nigeria-17-dec.jpg
      content: |-
            <h4>Nigeria Launches Action Plan for Health Security</h4>
            <p>Nigeria launched its National Action Plan for Health Security, a five-year roadmap for coordinating and implementing systems to find, stop and prevent health threats. This is a critical step in the preparedness process.</p>


    - date: December 14, 2018
      align: left
      content: |-
            <h4>Caribbean Public Health Agency Improves Epidemic Preparedness</h4>
            <p>The Caribbean Public Health Agency (CARPHA) developed an innovative monitoring, early alert and response system to quickly identify emerging diseases. <a href="https://preventepidemics.org/stories/6928-2/">Read the story here.</a></p>
            
    - date: December 7, 2018
      align: right
      image: shandong-7-dec.jpg
      content: |-
            <h4>New Partnership with Shandong Province</h4>
            <p>The Resolve to Save Lives China team signed a memorandum of understanding with the Shandong Provincial Health Commission to begin work on sodium reduction and hypertension control projects.</p>

    - date: December 4, 2018
      align: left
      content: |-
            <h4>Experts Agree on Statement of Preparedness for Public Health Emergencies</h4>
            <p>Global health experts attended the WHO High-level Conference for Public Health Emergencies, Challenges, and Opportunities in Urban Areas in Lyon, France. <a href="https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fvitalstrategies.us10.list-manage.com%2Ftrack%2Fclick%3Fu%3Dec2f19f3689a04a265f3fe14d%26id%3D1e23614b14%26e%3D3aa2d10a82&data=02%7C01%7CEBradford%40resolvetosavelives.org%7C809e9b579f36464eb15508d661f0972d%7Cdcb8a8f481b349b79bc29cca6af0eebf%7C0%7C0%7C636804083295223603&sdata=dx2osxP2%2FFHFFvfAZlin8OTMLNWDqssXUxphRQZCQJ8%3D&reserved=0">A statement on preparedness (PDF)</a> for public health emergencies was produced by the close of the meeting. Resolve to Save Lives highlighted the need to focus on supporting documented preparedness gaps, on how to make 2019 the year of action at country and local level, and on how to support private-sector involvement.</p>
   

    - date: November 29, 2018
      align: right
      image: ethiopia-29-nov.jpg
      content: |-
            <h4>Ethiopia Launches Salt Reduction Program </h4>
            <p>Experts from WHO, Resolve to Save Lives, the Ethiopian Federal Ministry of Health and the Ethiopian Public Health Institute gathered in Ethiopia for a three-day workshop on salt reduction. The workshop kicked off Ethiopia's salt reduction program, which primarily aims to reduce household salt intake through a health promotion campaign using mass media and outreach to schools and health facilities.</p>
            

    - date: November 28, 2018
      align: left
      content: |-
            <h4>First-of-its kind PSA on trans fat elimination launches in India</h4>
            <p>India&rsquo;s Food Safety and Standards Authority launched a new communication campaign to support the removal of trans fat from the food supply. The campaign features a public service announcement, <a href="https://www.youtube.com/watch?v=5L5sZ9XxeXc&feature=youtu.be">&ldquo;Heart Attack Rewind,&rdquo;</a> which will be broadcast throughout India in 17 languages.</p><p>The new campaign was covered extensively in Indian media, including in <a href="https://www.thehindubusinessline.com/news/national/fssai-launches-new-campaign-to-eliminate-trans-fats-by-2022/article25636525.ece">The Hindu</a>, <a href="https://www.dnaindia.com/delhi/report-fssai-starts-campaign-in-delhincr-to-eliminate-trans-fat-before-who-deadline-2691018">Daily News & Analysis</a>, and <a href="http://www.fnbnews.com/Top-News/fssai-launches-heart-attack-rewind-campaign-for-trans-fat-elimination-45196">FNB News</a>. <a href="http://www.vitalstrategies.org/press/first-ever-communication-campaign-demonstrates-dangers-of-trans-fats-and-calls-for-its-elimination-from-indias-food-supply/">.</p>
            <p><a href="http://www.vitalstrategies.org/press/first-ever-communication-campaign-demonstrates-dangers-of-trans-fats-and-calls-for-its-elimination-from-indias-food-supply/">Read more on Vital Strategies</a>.</p>         
            
    - date: November 28, 2018
      align: right
      image: amanda-28-nov.jpg
      content: |-
            <h4>Highlighting Lessons from Past Epidemics</h4>
            <p>1918 marks the 100th anniversary of the deadliest flu pandemic on record. Amanda McClelland, senior vice president for Prevent Epidemics at Resolve to Save Lives, shared lessons learned from major epidemics over the years and current preparedness efforts at a National Academies of Science event.</p>
            
    - date: November 21, 2018
      align: left
      image: china-21-nov.jpg
      content: |-
            <h4>Advancing Cardiovascular Health in China</h4>
            <p>China has the largest burden of cardiovascular disease in the world, but it is determined to make rapid progress. The Resolve to Save Lives team has partnered with several health organizations in China to advance their CVD goals, including Fuwai Hospital, which has been designated as China’s National Center for Cardiovascular Diseases.</p>
            

    - date: November 15, 2018
      align: right
      image: kenya-15-nov.jpg
      content: |-
            <h4>Addressing Epidemic Preparedness at Kenya Workshop	</h4>
            <p>A group of global health experts meet in Nairobi, Kenya, to attend a World Health Organization regional workshop on epidemic preparedness.</p>

    - date: November 5, 2018
      align: left
      content: |-
            <h4>“The Perfect Storm” for the Next Epidemic</h4>
            <p>Cyrus Shahpar, director of Prevent Epidemics at Resolve to Save Lives, spoke on the panel, &ldquo;Challenges in Outbreaks and Steps to Keep the World Safe&rdquo; at the American Society of Tropical Medicine and Hygiene annual meeting in New Orleans, Louisiana. Cyrus highlighted the work of Resolve to Save Lives and provided an overview of disease threats around the world.</p>
            <p>&ldquo;The perfect storm involves a highly transmissible infection in urban areas of developing countries that have experienced rapid growth,&rdquo; Cyrus said. <a href="http://iamtropmed.org/blog/2018/10/29/anticipating-the-next-health-emergency">Read more about the panel on the ASTMH blog</a>.</p>
            
    - date: October 29, 2018
      align: right
      image: simple-29-oct.png
      content: |-
            <h4>Open source branding for blood pressure monitoring app</h4>
            <p>Learn more about the open source approach to branding Simple, a new app being piloted in India for healthcare workers to track patients with high blood pressure. </p>

    - date: October 26, 2018
      align: left
      content: |-
            <h4>Inaugural LINKS Webinar</h4>
            <p>Dr. Tom Frieden and Dr. Sandeep (Sunny) Kishore from the Arnhold Institute for Global Health led the inaugural LINKS webinar on single pill combination therapies for high blood pressure. You can <a href="https://www.youtube.com/watch?v=JQ4oJaqdeos&feature=youtu.be">watch the webinar on YouTube</a>.</p>
            
    - date: October 23, 2018
      align: right
      content: |-
            <p>Tanzania prepares for Ebola – <a href="https://preventepidemics.org/stories/scaling-up-ebola-preparedness-tanzania-trains-frontline-health-care-workers/">read the story on Prevent Epidemics.org</a>.</p>

    - date: October 20, 2018
      align: left
      image: geneva-20-oct.jpg
      content: |-
            <h4>Global Discussion to Establish Trans Fat Surveillance Standards</h4>
            <p>Resolve to Save Lives, WHO and CDC, co-hosted a two-day trans fat surveillance expert consultation in Geneva. Participants reviewed and reached consensus on global trans fat surveillance standards.</p>

    - date: October 16, 2018
      align: right
      image: liberia-16-oct.jpg
      content: |-
            <h4>Supporting Health Security Improvements in Liberia</h4>
            <p>Resolve to Save Lives and representatives from the National Public Health Institute of Liberia met to discuss ways to accelerate progress on health security.</p>

    - date: October 3, 2018
      align: left
      image: pe-3-oct.jpg
      content: |-
            <h4>From data to action – new focus for PreventEpidemics.org</h4>
            <p>The Prevent Epidemics team met with colleagues from the Global Health Advocacy Incubator and design partner Grain & Mortar to discuss, brainstorm and prototype the second phase of <a href="https://preventepidemics.org/">PreventEpidemics.org</a>. The update is focused on moving from data to action.</p>


    - date: September 27, 2018
      align: right
      image: fuwai-27-sep.jpg
      content: |-
            <h4>Improving Blood Pressure Control in China</h4>
            <p>Our Cardiovascular Health team visited Fuwai Hospital Beijing and met with clinicians to discuss hypertension treatment and control.</p>

    - date: September 26, 2018
      align: left
      image: china-26-sep.jpg
      content: |-
            <h4>Trans fat Elimination in China</h4>
            <p>The NCD Alliance hosted a trans fat event at their “NCD Café” at the World Congress of Cardiology and Cardiovascular Health in Dubai. The key message at the event was that trans fat is a harmful compound that can be completely replaced without changing cost or taste of food.</p>
            
    - date: September 25, 2018
      align: right
      image: tom-25-sep.jpg
      content: |-
            <h4>Dr. Tom Frieden on Access to NCD Treatment and Care</h4>
            <p>During a side event at the UN General Assembly, Dr. Tom Frieden discusses the importance of political will, technical excellence and accessible health systems in blood pressure control.</p>


    - date: September 10, 2018
      align: left
      image: pe-sept-2018.jpg
      content: |-
            <p>A group of global experts met in Geneva on September 10 to brainstorm how to best act on preparedness data collected through country monitoring and evaluation systems.</p>


    - date: September 7, 2018
      align: right
      image: lancet-sept-2018.jpg
      imagelink: "https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31814-2/fulltext?dgcid=raven_jbs_etoc_email"
      content: |-
            <p>80 million people could have their blood pressure controlled if they switch to fixed-dose combination pills. Read more in <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31814-2/fulltext?dgcid=raven_jbs_etoc_email">this Lancet editorial</a>, co-authored by our team members Dr. Tom Frieden and Dr. Marc Jaffe.</p>

    - date: August 27, 2018
      align: left
      image: ICEID-2018.jpg
      content: |-
            <p>The world’s leading infectious disease experts and country health officials gathered in Atlanta in August for the <a href="http://www.iceid.org/events/iceid-2018/event-summary-f71900f4a8c04f0896ad32ebb4478f09.aspx">ICEID conference</a>. Attendants were able to learn more about their country’s preparedness for the next epidemic through custom demos of <a href="http://PreventEpidemics.org">PreventEpidemics.org</a></p>

    - date: August 14, 2018
      align: right
      image: jama-aug-2018.jpg
      imagelink: "https://jamanetwork.com/journals/jama/article-abstract/2696988"
      content: |-
            <p>Dr. Marc Jaffe co-authored <a href="https://jamanetwork.com/journals/jama/article-abstract/2696988">an editorial for the Journal of the American Medical Association</a>, stressing the importance of fixed-dose combination therapy for the control of blood pressure on a global scale.</p>

    - date: August 6, 2018
      align: left
      image: africa-aug-2018.jpg
      content: |-
            <p>We met with representatives of the <a href="http://www.afenet.net/">African Field Epidemiology Network</a>: they are a non-profit alliance dedicated to helping Ministries of Health in Africa build strong, effective, sustainable programs.</p>

    - date: July 20, 2018
      align: right
      image: vietnam-2018.jpg
      content: |-
            <p>In July, <a href="http://www.who.int/countries/vnm/en/">WHO Viet Nam</a> and Resolve to Save Lives met with local clinicians to support the launch of Viet Nam’s hypertension control efforts. </p>

    - date: July 17, 2018
      align: left
      image: vietnam-committment-2018.jpg
      content: |-
            <p>Viet Nam committed to improve blood pressure control rates and reduce salt intake during a launch workshop in Ha Noi on July 17. The Ministry of Health, World Health Organization and Resolve to Save Lives will work together to select hypertension treatment protocols and establish ways to evaluate their impact. <a href="http://www.wpro.who.int/vietnam/mediacentre/shortnews/2018/joint_collaboration_tackle_ncd_vietnam/en/">Read more...</a></p>

    - date: July 2-6, 2018
      align: right
      image: tech-july-2018.jpg
      content: |-
            <p>The Resolve to Save Lives tech team ran our first real-world pilot of the <a href="http://simple.org">Simple</a> Android application, which aims to help healthcare workers to longitudinally track their hypertensive patients.</p>

    - date: June 22, 2018
      align: full
      image: prevent-epidemics.jpg
      imagelink: "http://preventepidemics.org"
      content: |-
            <p>Resolve to Save Lives launched  <a href="http://preventepidemics.org">PreventEpidemics.org</a>, an interactive website which spotlights gaps in epidemic preparedness and highlights actions that countries, donors, activists and organizations can take to fill them.</p>


    - date: May 30, 2018
      align: left
      image: china-may-2018.jpg
      content: |-
            <p>Dr. Marc Jaffe traveled to China to meet with partners at the World Bank and others, and to advance the hypertension prevention work. In this photo  Dr. Jaffe is having his blood pressure measured by Professor Liu Lisheng of the Beijing Lisheng Health Foundation.</p>

    - date: May 24, 2018
      align: right
      image: wha-may-2018.jpg
      content: |-
            <p>At the <a href="http://www.who.int/world-health-assembly/seventy-first">2018 World Health Assembly</a>, Dr. Tom Frieden participated in a panel discussion entitled “Reducing Sugar, Salt and Fat to Prevent NCDs.” Topics presented and discussed included the benefits of banning trans fat, Vital Strategies’ sugary drinks and sodium-reduction campaigns and case studies of industry efforts to block public health programs. </p>

    - date: May 14, 2018
      align: left
      content: |-
            <p>The Lancet published <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31083-3/fulltext">"REPLACE a roadmap to make the world trans fat free by 2023"</a> written by Dr. Tedros Adhanom Ghebreyesus and Dr. Tom Frieden</p>
    

    - date: May 12, 2018
      align: full
      image: replace-launch.jpg
      content: <p>The World Health Organization announced REPLACE, a ground-breaking initiative developed in partnership with Resolve to Save Lives, which aims to eliminate trans fats from the global food supply by 2023. Read about it in <a href="https://www.nytimes.com/2018/05/14/health/trans-fats-who-ban.html">The New York Times</a>, <a href="https://www.cnn.com/2018/05/14/health/trans-fats-who-2023-intl-bn/index.html">CNN</a>, <a href="https://www.wsj.com/articles/food-makers-vow-to-cut-trans-fats-globally-1526271513">The Wall Street Journal</a>, or <a href="https://www.vox.com/science-and-health/2018/5/14/17346108/trans-fats-food-world-health-organization-bloomberg-gates">Vox</a>.</p>

    - date: May 1, 2018
      align: left
      image: tanzania-may-2018.jpg
      content: <p> Dr. Chris Lee traveled to Nigeria to support the government's development of their <a href="https://reliefweb.int/report/nigeria/nigeria-develops-national-action-plan-health-security">National Action Plan for Health Security</a>.</p>

---

<div class="home-feature-wrapper">
    <div class="home-feature">
        <h1>Our goals are to save 100 million lives from cardiovascular disease and to prevent epidemics.</h1>
    </div>
</div>
<div class="time">
    
    <span class="line"></span>
    
    <% current_page.data.timeline.each do |item| %>
        <div class="time-item time-<%= item.align %>">
            <div class="time-date"><%= item.date %></div>
            <div class="time-content">
                <% if item.imagelink %><a href="<%= item.imagelink %>"><% end %>
                    <% if item.image %><div class="image"><img src="/images/timeline/<%= item.image %>" alt=""></div><% end %>
                <% if item.imagelink %></a><% end %>
                <%= item.content %>
            </div>
        </div>
    <% end %>
    
    <div class="clear">&nbsp;</div>
    
</div>
<div>

    <h2 style="padding-top: 3em;">Our partners</h2>
    <p class="partners">
    <a href="#"><img src="/images/partners/who.png" alt="World Health Organization"></a>
    <a href="#"><img src="/images/partners/world-bank.png" alt="The World Bank"></a>
    <a href="#"><img src="/images/partners/hopkins.png" alt="Johns Hopkins"></a>
    <a href="#"><img src="/images/partners/ghai.png" alt="Global Health Advocacy Incubator"></a>
    <a href="#"><img src="/images/partners/cdc.png" alt="CDC Foundation"></a>
    </p>

</div>