---
title: "Home"
section: "home"
timeline:

    - date: August 6, 2019
      align: left
      image: Dr-Clement-Peter.jpg
      content: |-
            <h4>New Plan to Reduce NCDs in Nigeria Targets High Blood Pressure</h4>
            <p>In partnership with the World Health Organization, Nigeria’s Federal Ministry of Health launched the first National Multi-sectoral Action Plan for the Prevention and Control of Noncommunicable Diseases.</p>

    - date: July 31, 2019
      align: right
      image: Ethiopia-health-center-2.jpg
      content: |-
            <h4>Ethiopia Launches Hypertension Program</h4>
            <p>Ethiopia’s Federal Ministry of Health announced a new program that will bring treatment for high blood pressure to approximately 3 million people.</p>

    
    - date: July 31, 2019
      align: left
      image: IHCI-launch-meeting.jpg
      imagelink: "https://timesofindia.indiatimes.com/business/india-business/centres-hypertension-control-initiative-prog-expanded-to-100-districts/articleshow/70467055.cms"
      content: |-
            <h4>Expanding blood pressure care in India</h4>
            <p>The Indian Council for Medical Research, World Health Organization and Ministry of Health &amp; Family Welfare announced the nationwide expansion of the India Hypertension Control Initiative, which will treat a projected 150,000,000 patients for high blood pressure in the next four years. <a href="https://timesofindia.indiatimes.com/business/india-business/centres-hypertension-control-initiative-prog-expanded-to-100-districts/articleshow/70467055.cms">Read more</a>.</p>

    - date: July 15, 2019
      align: right
      image: Lancet-FDC-letter.jpg
      imagelink: "https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(19)31629-0/fulltext"
      content: |-
            <h4>WHO Endorses Simpler Drug Treatment for Blood Pressure</h4>
            <p>The World Health Organization approved an application from Resolve to Save Lives and partners to include 4 fixed-dose combinations of medicines for high blood pressure on the newest update to the <em>Essential Medicines List</em>. We co-authored a letter to <em>The Lancet</em> calling for countries to make these life-saving drugs available to patients. <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(19)31629-0/fulltext">Read the article</a>.</p>

    - date: July 10, 2019
      align: full
      image: 100-JEEs-completed.jpg
      imagelink: "https://twitter.com/ResolveTSL/status/1148609089058017281"
      content: |-
            <h4>100 Joint External Evaluations Completed</h4>
            <p>We celebrated the completion of 100 Joint External Evaluations (JEEs) the gold standard in assessing how prepared countries are to find, stop and prevent epidemics. Epidemic preparedness experts <a href="https://twitter.com/ResolveTSL/status/1148609089058017281">explain why this is an important landmark</a>.</p>    

    - date: July 10-12, 2019
      align: left
      image: WHO-RCCE-AFRO-223.jpg 
      content: |-
            <h4>Risk Communications for Epidemic Prevention</h4>
            <p>Our <a href="/prevent-epidemics">Prevent Epidemics</a> team supported a WHO Risk Communication and Community Engagement Capacity Strengthening workshop with representatives from 6 countries in Abuja, Nigeria.</p>

    - date: July 2-4, 2019
      align: right
      image: eth-HTN-training.jpg
      content: |-
            <h4>Training of Trainers in Ethiopia</h4>
            <p>With support from WHO and the Federal Ministry of Health, our Ethiopia team led a training of trainers on <a href="/hypertension">hypertension prevention and control</a> in Addis Ababa.</p>

    - date: June 24-27, 2019
      align: left
      image: EMRO-workshop.jpg
      content: |-
            <h4>Advancing Trans Fat Elimination in the Eastern Mediterranean</h4>
            <p>We teamed up with WHO and WHO Eastern Mediterranean Region to help governments in the Eastern Mediterranean identify <a href="/transfat">trans fat elimination</a> policy options that work for their national contexts and identify next steps for action.</p>

    - date: June 18-20, 2019
      align: right
      image: Amanda-GHS-plenary.jpg
      imagelink: "https://www.ghs2019.com/"
      content: |-
            <h4>Global Health Security 2019 Conference in Sydney</h4>
            <p>Our Prevent Epidemics team highlighted the critical role of politics and social constructs in causing—and preventing—epidemics at the <a href="https://www.ghs2019.com/">Global Health Security 2019</a> conference in Sydney, Australia.</p>

    - date: June 10, 2019
      align: left
      image: nurse.jpg
      imagelink: "https://www.globalhealthnow.org/2019-06/essential-outbreak-preparedness-and-response-program-management"
      content: |-
            <h4>The Not-Flashy, Essential Part of Outbreak Preparedness and Response</h4>
            <p>When an outbreak hits, how do we immediately get the Ministry of Health, an animal health specialist, a communications expert and a laboratory sample transporter on the same page? Senior Vice President Amanda McClelland <a href="https://www.globalhealthnow.org/2019-06/essential-outbreak-preparedness-and-response-program-management">argues that program management</a> is the key to epidemic preparedness in Global Health Now.</p>

    - date: June 15, 2019
      align: right
      video: |-
            <div class="image">
            <video autoplay loop id="video-html">
                <source src="/images/timeline/resolve-map-dots-1280-compressed.mp4" type="video/mp4">
                <img src="/images/resolve-map-dots-1280-480p.jpg" alt="">
            </video>
            </div>
      content: |-
            <h4><a href="http://PreventEpidemics.org" style="font-weight: 400;">PreventEpidemics.org</a> &#8212; From Data to Action</h4>
            <p>The site has a new look and new tools to help move from data to action on epidemic preparedness. Check out our new <a href="https://preventepidemics.org/map/">interactive maps</a>, <a href="https://preventepidemics.org/map/?mode=flights">flight patterns</a> displayed with the preparedness of their final destination and <a href="https://preventepidemics.org/take-action/">useful tools</a> for advocacy.</p>

    - date: June 11-12, 2019
      align: left
      image: boao-panel.jpg
      content: |-
            <h4>Global Health Forum of the Boao Forum for Asia</h4>
            <p>We joined public health leaders from around the world in Qingdao, China, where we discussed how hypertension management can be a path finder for universal health coverage.</p>

    - date: June 12, 2019
      align: right
      image: shandong-launch.jpg
      content: |-
            <h4>Shandong Hypertension Management Initiative</h4>
            <p>Our partners kicked off the Shandong Hypertension Management Initiative, a three year program to improve blood pressure control rates in Shandong, a province in eastern China.</p>

    - date: June 10, 2019
      align: left
      image: outbreak-strike.jpg
      imagelink: "https://www.foxnews.com/opinion/thomas-frieden-margaret-hamburg-ebola-congo-measles-epidemics-world-bank-ida"
      content: |-
            <h4>There’s a limited window to make America safer from epidemics</h4>
            <p>President and CEO Dr. Tom Frieden joined Former FDA Commissioner Margaret Hamburg in <a href="https://www.foxnews.com/opinion/thomas-frieden-margaret-hamburg-ebola-congo-measles-epidemics-world-bank-ida">calling on the World Bank</a> to dedicate  $1 billion per year over three years to epidemic preparedness.</p>

    - date: June 10, 2019
      align: right
      image: 100-mill-2040.jpg
      imagelink: "https://www.ahajournals.org/doi/abs/10.1161/CIRCULATIONAHA.118.038160"
      content: |-
            <h4>How to Save 100 Million Lives Through Improved Heart Health</h4>
            <p>A <a href="https://www.ahajournals.org/doi/abs/10.1161/CIRCULATIONAHA.118.038160">new study in the journal Circulation</a> reports nearly 100 million lives could be saved by increasing the number of people around the world treated for high blood pressure, reducing salt intake and eliminating trans fat from the global food supply. </p>

    - date: May 31, 2019
      align: full
      image: pmep-class.jpg
      imagelink: "https://www.resolvetosavelives.org/training#class"
      content: |-
            <h4>Meet the Program Management for Epidemic Preparedness (PMEP) class</h4>
            <p>We're excited to introduce our first class of PMEP trainees &#8212; the epidemic preparedness leaders of tomorrow. <a href="https://www.resolvetosavelives.org/training#class">Learn more about them...</a></p>
    
    - date: May 22, 2019
      align: left
      image: transfat-tobacco.jpg
      imagelink: "https://www.telegraph.co.uk/news/0/time-total-ban-trans-fat-tobacco-nutrition/"
      content: |-
            <h4>Why it's time for a total ban on trans fat – the 'tobacco of nutrition'</h4>
            <p>President and CEO Dr. Tom Frieden called for action on trans fat elimination from national, regional, global, and food industry leaders <a href="https://www.telegraph.co.uk/news/0/time-total-ban-trans-fat-tobacco-nutrition/ ">in <em>The Telegraph</em></a>.</p>

    - date: May 21, 2019
      align: right
      image: replace-module-icons.jpg
      imagelink: "/transfat#resources"
      content: |-
            <h4>New resources in the fight against trans fat</h4>
            <p>We supported WHO to develop materials for the <a href="https://www.who.int/nutrition/topics/replace-transfat/">REPLACE action packages</a>, including <a href="/transfat#resources">6 practical implementation modules</a> and the first <a href="/images/resources/REPLACE-Global-Progress-Report.pdf">progress report</a> on global trans fat elimination.</p>

    - date: May 20-28, 2019
      align: full
      image: wha-2019.jpg
      imagelink: "https://www.who.int/nutrition/topics/replace-transfat/"
      content: |-
            <h4>World Health Assembly in Geneva</h4>
            <p>We participated in the 72nd World Health Assembly, where we highlighted the global importance of cardiovascular health and epidemic preparedness and co-hosted the launch of new <a href="https://www.who.int/nutrition/topics/replace-transfat/">WHO resources on trans fat elimination</a>, a training for advocates of trans fat bans, and a learning lab on hypertension.</p>

    - date: May 2, 2019
      align: left
      image: uganda-funding.jpg
      content: |-
            <h4>Prioritizing the Contingency Fund for health emergencies in Uganda</h4>
            <p>At a meeting on improving health security hosted by the Ministry of Health in Uganda, <a href="/prevent-epidemics">our team</a> agreed to work with other legal stakeholders to prioritize the Contingencies Fund for Emergencies.</p>

    - date: May 1, 2019
      align: right
      image: trans-fat.jpg
      imagelink: "/images/resources/rtsl-joint-letter-to-companies-5-2019.pdf"
      content: |-
            <h4>Engaging industry on trans fat elimination</h4>
            <p>Along with NCD Alliance, American Heart Association, and World Heart Federation, we <a href="/images/resources/rtsl-joint-letter-to-companies-5-2019.pdf">added our voice</a> to the WHO’s call for industry to replace artificial trans fat by directly calling on dozens of major food, fat, and oil industry players to commit to elimination by 2023.</p>

    - date: April 30, 2019
      align: left
      image: ebola-conference.jpg
      imagelink: "https://www.afro.who.int/pt/node/11170"
      content: |-
            <h4>Improving Ebola virus disease outbreak preparedness</h4>
            <p>Our team worked with experts in Kampala, Uganda to create a strategic plan for engaging partners in DRC and other countries at high risk for Ebola transmission.</p>

    - date: April 27, 2019
      align: right
      image: protocol.jpg
      imagelink: "https://onlinelibrary.wiley.com/doi/full/10.1111/jch.13280"
      content: |-
            <h4>Practical treatment protocols improve hypertension management</h4>
            <p>We <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jch.13280">published a statement</a> with the World Hypertension League on the benefits of a practical treatment protocol for global hypertension management.</p>

    - date: April 25, 2019
      align: left
      image: naphs.jpg
      content: |-
            <h4>Tracking implementation of Nigeria’s National Action Plan for Health Security</h4>
            <p>We helped design and implement a free, user-friendly tool to help officials from 13 different organizations within the Nigerian government to coordinate their National Action Plan for Health Security.</p>

    - date: April 22, 2019
      align: right
      image: nigeria-yellow-fever.jpg
      content: |-
            <h4>Assessing Yellow Fever preparedness in Nigeria</h4>
            <p>As part of our collaboration with the National Center for Disease Control, laboratory network consultant Celestina Obiekea conducted an assessment of yellow fever diagnosis capacity in laboratories in Nigeria.</p>

    - date: April 10, 2019
      align: left
      image: vietnam-april-2019.jpg
      content: |-
            <h4>Supporting Vietnam’s national hypertension program</h4>
            <p>Members of our <a href="/cardiovascular-health">cardiovascular health team</a> visited and gave feedback to health care facilities implementing the national hypertension program in Vietnam.</p>

    - date: March 30, 2019
      align: right
      image: china-school-salt-visit.jpg
      imagelink: "/sodium"
      content: |-
            <h4>Salt reduction in Chinese schools</h4>
            <p>Our <a href="/sodium">nutrition team</a> traveled to China to learn about a healthy canteen initiative in primary and middle schools in Shandong province.</p>

    - date: March 25, 2019
      align: left
      image: PMEP-web.jpg
      imagelink: "/training"
      content: |-
            <h4>Program Management for Epidemic Preparedness training course begins</h4>
            <p>Our Prevent Epidemics team kicked off a 12-month certified <a href="/training">training program</a> for mid-level program managers working in emergency preparedness in Rwanda.</p>

    - date: March 10, 2019
      align: full
      image: links-first.jpg
      imagelink: "http://www.vitalstrategies.org/press/resolve-to-save-lives-announces-us1-25-million-in-grants-to-promote-heart-health-in-low-and-middle-income-countries/"
      content: |-
            <h4>LINKS Community grant recipients announced</h4>
            <p>The first LINKS Community grant recipients <a href="http://www.vitalstrategies.org/press/resolve-to-save-lives-announces-us1-25-million-in-grants-to-promote-heart-health-in-low-and-middle-income-countries/">were announced</a>. Eleven countries will now save lives by better controlling blood pressure, reducing salt intake or eliminating trans fat.</p>

    - date: March 5-6, 2019
      align: left
      image: partnermeeting.jpg
      content: |-
            <h4>Cardiovascular Health Partner Meeting</h4>
            <p>Resolve to Save Lives welcomed our cardiovascular health partners and representatives from 9 of the countries in which we work to NYC. We shared learnings from our first year and focused on strengthening our ability to effectively support rapid country progress.</p>


    - date: March 5, 2019
      align: right
      image: aha-rwanda.jpg
      imagelink: "https://ahaic.org/"
      content: |-
            <h4>Africa Health Agenda International Conference</h4>
            <p>We participated in <a href="https://ahaic.org/">AHAIC 2019</a> in Rwanda, where we met with our implementing partners and provided demos of <a href="http://PreventEpidemics.org">PreventEpidemics.org</a> to conference attendees.</p>

    - date: March 1, 2019
      align: left
      image: rwanda-ebola-preparation.jpg
      imagelink: "https://preventepidemics.org/stories/rwanda-readies-its-systems-for-potential-ebola-outbreak/"
      content: |-
            <h4>Rwanda prepares for Ebola</h4>
            <p>Rwanda conducted a simulation exercise to prepare for new cases of Ebola entering the country from neighboring DRC. <a href="https://preventepidemics.org/stories/rwanda-readies-its-systems-for-potential-ebola-outbreak/">Read what they learned...</a></p>    

    - date: February 27, 2019
      align: right
      image: turkish-chef-salt.jpg
      content: |-
            <h4>New voluntary salt reduction targets in Turkey </h4>
            <p>The Turkish Restaurant and Patisserie Federation agreed to reduce salt in restaurant and bakery food items, potentially making food healthier in 130,000 restaurants across the country.</p>        

    - date: January 30, 2019
      align: left
      image: tom-presentation-bangkok-2019.jpg
      imagelink: "https://www.dropbox.com/s/ovrwgzlskyoxqds/PMAC%20keynote%20speech%20slides_FINAL.pdf?dl=0"
      content: |-
            <h4>Global NCD gathering in Bangkok</h4>
            <p>Tom Frieden, our President and CEO, delivered the keynote address (<a href="https://www.dropbox.com/s/ovrwgzlskyoxqds/PMAC%20keynote%20speech%20slides_FINAL.pdf?dl=0">slides</a>) at the <a href="https://pmac2019.com">Prince Mahidol Awards Conference</a> in Bangkok, Thailand.</p>    
    
    - date: January 30, 2019
      align: right
      image: thailand-bp-reading.jpg
      content: |-
            <h4>Lessons from the field in Thailand</h4>
            <p>We visited three NCD clinics in Phitsanulok province with our Thai government colleagues and representatives from WHO Thailand.</p>

    - date: January 17, 2019
      align: left
      image: uganda-17-jan.jpg
      content: |-
            <h4>Uganda prepares its borders for potential Ebola cases</h4>
            <p>Health screening site set up at a point of entry in Uganda as part of their Ebola preparedness effort. Our Prevent Epidemics team deployed to Uganda to support their preparedness efforts.</p>
            
            
    - date: December 18, 2018
      align: right
      image: ncd-18-dec.jpg
      content: |-
            <h4>Momentum growing to eliminate trans fat</h4>
            <p>The NCD Alliance hosted a trans fat event at the World Congress of Cardiology and Cardiovascular Health in Dubai. The key message at the event was that trans fat can be completely replaced without changing cost or taste of food.</p>


    - date: December 18, 2018
      align: left
      image: who-bp-devices.jpg
      content: |-
            <h4>Highlighting the burden of untreated hypertension</h4>
            <p>We participated in the 4th WHO Global Forum on Medical Devices in India, highlighting the enormous burden of disease from untreated hypertension and the need for availability of better devices for detecting high blood pressure.</p>
            

    - date: December 17, 2018
      align: right
      image: nigeria-17-dec.jpg
      content: |-
            <h4>Nigeria launches action plan for health security</h4>
            <p>Nigeria launched its National Action Plan for Health Security, a five-year roadmap for coordinating and implementing systems to find, stop and prevent health threats.</p>


    - date: December 14, 2018
      align: left
      image: pe-caribbean.jpg
      imagelink: "https://preventepidemics.org/stories/6928-2/"
      content: |-
            <h4>Caribbean Public Health Agency improves epidemic preparedness</h4>
            <p>The agency developed an innovative monitoring, early alert and response system to quickly identify emerging diseases. <a href="https://preventepidemics.org/stories/6928-2/">Read the story here...</a></p>
            
    - date: December 7, 2018
      align: right
      image: china-bp.jpg
      content: |-
            <h4>New partnership with Shandong province</h4>
            <p>Our China team signed a memorandum of understanding with the Shandong Provincial Health Commission to begin work on sodium reduction and hypertension control projects.</p>

    - date: December 4, 2018
      align: left
      image: pe-who-article.jpg
      content: |-
            <h4>Experts agree on statement of preparedness for public health emergencies</h4>
            <p>Global health experts attended the WHO High-level Conference for Public Health Emergencies, Challenges, and Opportunities in Urban Areas in Lyon, France. <a href="https://reg.unog.ch/event/25908/material/42/0.pdf">A statement on preparedness (PDF)</a> for public health emergencies was produced by the close of the meeting.</p>
   

    - date: November 29, 2018
      align: right
      image: ethiopia-cooking.jpg
      content: |-
            <h4>Ethiopia launches salt reduction program </h4>
            <p>We joined experts from WHO and the Ethiopian government for a workshop to kick off Ethiopia's salt reduction program.</p>
            

    - date: November 28, 2018
      align: left
      image: cvd-advertisement.jpg
      imagelink: "https://www.youtube.com/watch?v=5L5sZ9XxeXc&feature=youtu.be"
      content: |-
            <h4>First-of-its kind PSA launches in India</h4>
            <p>India&rsquo;s Food Safety and Standards Authority launched a new campaign to support the removal of trans fat from the food supply: <a href="https://www.youtube.com/watch?v=5L5sZ9XxeXc&feature=youtu.be">&ldquo;Heart Attack Rewind.&rdquo;</a></p>         
            
    - date: November 28, 2018
      align: right
      image: amanda-28-nov.jpg
      content: |-
            <h4>Highlighting lessons from past epidemics</h4>
            <p>1918 marks the 100th anniversary of the deadliest flu pandemic on record. Our Amanda McClelland shared lessons learned from major epidemics over the years and current preparedness efforts at a National Academies of Science event.</p>
            
    - date: November 15, 2018
      align: left
      image: kenya-15-nov.jpg
      content: |-
            <h4>Addressing Epidemic Preparedness at Kenya Workshop	</h4>
            <p>A group of global health experts meet in Nairobi, Kenya, to attend a World Health Organization regional workshop on epidemic preparedness.</p>

    - date: November 5, 2018
      align: right
      image: astmh.jpg
      content: |-
            <h4>“The Perfect Storm” for the next epidemic</h4>
            <p>Cyrus Shahpar spoke on the panel, <a href="http://iamtropmed.org/blog/2018/10/29/anticipating-the-next-health-emergency">&ldquo;Challenges in Outbreaks and Steps to Keep the World Safe&rdquo;</a> at the American Society of Tropical Medicine and Hygiene annual meeting.</p>
            
    - date: October 29, 2018
      align: left
      image: simple-29-oct.jpg
      content: |-
            <h4>Simple gets an open source brand</h4>
            <p>Our open source BP monitoring app, <a href="http://simple.org">Simple</a>, got a new brand thanks to the input of open source designers from all over the world. <a href="https://medium.com/@dburka/open-source-brand-design-for-simple-474f03a7fc15">Read about it...</a></p>

    - date: October 26, 2018
      align: right
      image: links-webinar.jpg
      imagelink: "https://www.youtube.com/watch?v=JQ4oJaqdeos&feature=youtu.be"
      content: |-
            <h4>Inaugural LINKS webinar</h4>
            <p>Dr. Tom Frieden and Dr. Sandeep (Sunny) Kishore from the Arnhold Institute for Global Health led the inaugural LINKS webinar on single pill combination therapies for high blood pressure. You can <a href="https://www.youtube.com/watch?v=JQ4oJaqdeos&feature=youtu.be">watch the webinar on YouTube</a>.</p>
            
    - date: October 23, 2018
      align: left
      image: tanzania-ebola.jpg
      content: |-
            <h4>Tanzania prepares for Ebola</h4>
            <p>Tanzania has been gearing up to combat the Ebola virus, starting with its health care workers. <a href="https://preventepidemics.org/stories/scaling-up-ebola-preparedness-tanzania-trains-frontline-health-care-workers/">Read the story on Prevent Epidemics.org</a>.</p>

    - date: October 20, 2018
      align: right
      image: geneva-20-oct.jpg
      content: |-
            <h4>Global discussion on trans fat surveillance standards</h4>
            <p>We worked with the WHO and CDC at a two-day trans fat surveillance expert consultation. Participants reviewed and reached consensus on global trans fat surveillance standards.</p>

---

<div class="home-feature-wrapper">
    <div class="home-feature">
        <h1>Our goals are to save 100 million lives from cardiovascular disease and to prevent epidemics.</h1>
    </div>
</div>

<div class="time">
    
    <span class="line"></span>
    
    <% current_page.data.timeline.each do |item| %>
        <div class="time-item time-<%= item.align %>">
            <div class="time-date"><%= item.date %></div>
            <div class="time-content">
                <% if item.imagelink %><a href="<%= item.imagelink %>"><% end %>
                    <% if item.image %><div class="image"><img src="/images/timeline/<%= item.image %>" alt=""></div><% end %>
                    <% if item.video %><%= item.video %><% end %>
                <% if item.imagelink %></a><% end %>
                <%= item.content %>
            </div>
        </div>
    <% end %>
    
    <div class="clear">&nbsp;</div>
    
</div>

<div class="content-footer">

    <h3>Global Implementing Partners</h3>
    &nbsp;
    <p class="partners">
    <a href="#"><img src="/images/partners/who.png" alt="World Health Organization"></a>
    <a href="#"><img src="/images/partners/world-bank.png" alt="The World Bank"></a>
    <a href="#"><img src="/images/partners/hopkins.png" alt="Johns Hopkins"></a>
    <a href="#"><img src="/images/partners/ghai.png" alt="Global Health Advocacy Incubator"></a>
    <a href="#"><img src="/images/partners/cdc.png" alt="CDC Foundation"></a>
    </p>

</div>