---
title: "Home"
section: "home"
timeline:
    
    - date: March 5, 2019
      align: left
      image: aha-rwanda.jpg
      content: |-
            <h4>Africa Health Agenda International Conference</h4>
            <p>We participated in <a href="https://ahaic.org/">AHAIC 2019</a> in Rwanda, where we met with our implementing partners and provided demos of <a href="http://PreventEpidemics.org">PreventEpidemics.org</a> to conference attendees.</p>

    - date: March 1, 2019
      align: right
      image: rwanda-ebola-preparation.jpg
      content: |-
            <h4>Rwanda prepares for Ebola</h4>
            <p>Rwanda conducted a simulation exercise to prepare for new cases of Ebola entering the country from neighboring DRC. <a href="https://preventepidemics.org/stories/rwanda-readies-its-systems-for-potential-ebola-outbreak/">Read what they learned...</a></p>    

    - date: February 27, 2019
      align: left
      image: turkish-chef-salt.jpg
      content: |-
            <h4>New voluntary salt reduction targets in Turkey </h4>
            <p>The Turkish Restaurant and Patisserie Federation agreed to reduce salt in restaurant and bakery food items, potentially making food healthier in 130,000 restaurants across the country.</p>        

    - date: January 30, 2019
      align: right
      image: tom-presentation-bangkok-2019.jpg
      content: |-
            <h4>Global NCD gathering in Bangkok</h4>
            <p>Tom Frieden, our President and CEO, delivered the keynote address (<a href="https://www.dropbox.com/s/ovrwgzlskyoxqds/PMAC%20keynote%20speech%20slides_FINAL.pdf?dl=0">slides</a>) at the <a href="https://pmac2019.com">Prince Mahidol Awards Conference</a> in Bangkok, Thailand.</p>    
    
    - date: January 30, 2019
      align: left
      image: thailand-bp-reading.jpg
      content: |-
            <h4>Lessons from the field in Thailand</h4>
            <p>We visited three NCD clinics in Phitsanulok province with our Thai government colleagues and representatives from WHO Thailand.</p>

    - date: January 17, 2019
      align: right
      image: uganda-17-jan.jpg
      content: |-
            <h4>Uganda prepares its borders for potential Ebola cases</h4>
            <p>Health screening site set up at a point of entry in Uganda as part of their Ebola preparedness effort. Our Prevent Epidemics team deployed to Uganda to support their preparedness efforts.</p>
            
            
    - date: December 18, 2018
      align: left
      image: ncd-18-dec.jpg
      content: |-
            <h4>Momentum growing to eliminate trans fat</h4>
            <p>The NCD Alliance hosted a trans fat event at the World Congress of Cardiology and Cardiovascular Health in Dubai. The key message at the event was that trans fat can be completely replaced without changing cost or taste of food.</p>


    - date: December 18, 2018
      align: right
      image: who-bp-devices.jpg
      content: |-
            <h4>Highlighting the burden of untreated hypertension</h4>
            <p>We participated in the 4th WHO Global Forum on Medical Devices in India, highlighting the enormous burden of disease from untreated hypertension and the need for availability of better devices for detecting high blood pressure.</p>
            

    - date: December 17, 2018
      align: left
      image: nigeria-17-dec.jpg
      content: |-
            <h4>Nigeria launches action plan for health security</h4>
            <p>Nigeria launched its National Action Plan for Health Security, a five-year roadmap for coordinating and implementing systems to find, stop and prevent health threats.</p>


    - date: December 14, 2018
      align: right
      image: pe-caribbean.jpg
      content: |-
            <h4>Caribbean Public Health Agency improves epidemic preparedness</h4>
            <p>The agency developed an innovative monitoring, early alert and response system to quickly identify emerging diseases. <a href="https://preventepidemics.org/stories/6928-2/">Read the story here...</a></p>
            
    - date: December 7, 2018
      align: left
      image: china-bp.jpg
      content: |-
            <h4>New partnership with Shandong province</h4>
            <p>Our China team signed a memorandum of understanding with the Shandong Provincial Health Commission to begin work on sodium reduction and hypertension control projects.</p>

    - date: December 4, 2018
      align: right
      image: pe-who-article.jpg
      content: |-
            <h4>Experts agree on statement of preparedness for public health emergencies</h4>
            <p>Global health experts attended the WHO High-level Conference for Public Health Emergencies, Challenges, and Opportunities in Urban Areas in Lyon, France. <a href="https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fvitalstrategies.us10.list-manage.com%2Ftrack%2Fclick%3Fu%3Dec2f19f3689a04a265f3fe14d%26id%3D1e23614b14%26e%3D3aa2d10a82&data=02%7C01%7CEBradford%40resolvetosavelives.org%7C809e9b579f36464eb15508d661f0972d%7Cdcb8a8f481b349b79bc29cca6af0eebf%7C0%7C0%7C636804083295223603&sdata=dx2osxP2%2FFHFFvfAZlin8OTMLNWDqssXUxphRQZCQJ8%3D&reserved=0">A statement on preparedness (PDF)</a> for public health emergencies was produced by the close of the meeting.</p>
   

    - date: November 29, 2018
      align: left
      image: ethiopia-cooking.jpg
      content: |-
            <h4>Ethiopia launches salt reduction program </h4>
            <p>We joined experts from WHO and the Ethiopian government for a workshop to kick off Ethiopia's salt reduction program.</p>
            

    - date: November 28, 2018
      align: right
      image: cvd-advertisement.jpg
      imagelink: "https://www.youtube.com/watch?v=5L5sZ9XxeXc&feature=youtu.be"
      content: |-
            <h4>First-of-its kind PSA launches in India</h4>
            <p>India&rsquo;s Food Safety and Standards Authority launched a new campaign to support the removal of trans fat from the food supply: <a href="https://www.youtube.com/watch?v=5L5sZ9XxeXc&feature=youtu.be">&ldquo;Heart Attack Rewind.&rdquo;</a></p>         
            
    - date: November 28, 2018
      align: left
      image: amanda-28-nov.jpg
      content: |-
            <h4>Highlighting lessons from past epidemics</h4>
            <p>1918 marks the 100th anniversary of the deadliest flu pandemic on record. Our Amanda McClelland shared lessons learned from major epidemics over the years and current preparedness efforts at a National Academies of Science event.</p>
            
    - date: November 15, 2018
      align: right
      image: kenya-15-nov.jpg
      content: |-
            <h4>Addressing Epidemic Preparedness at Kenya Workshop	</h4>
            <p>A group of global health experts meet in Nairobi, Kenya, to attend a World Health Organization regional workshop on epidemic preparedness.</p>

    - date: November 5, 2018
      align: left
      image: astmh.jpg
      content: |-
            <h4>“The Perfect Storm” for the next epidemic</h4>
            <p>Cyrus Shahpar spoke on the panel, <a href="http://iamtropmed.org/blog/2018/10/29/anticipating-the-next-health-emergency">&ldquo;Challenges in Outbreaks and Steps to Keep the World Safe&rdquo;</a> at the American Society of Tropical Medicine and Hygiene annual meeting.</p>
            
    - date: October 29, 2018
      align: right
      image: simple-29-oct.jpg
      content: |-
            <h4>Simple gets an open source brand</h4>
            <p>Our open source BP monitoring app, <a href="http://simple.org">Simple</a>, got a new brand thanks to the input of open source designers from all over the world. <a href="https://medium.com/@dburka/open-source-brand-design-for-simple-474f03a7fc15">Read about it...</a></p>

    - date: October 26, 2018
      align: left
      image: links-webinar.jpg
      imagelink: "https://www.youtube.com/watch?v=JQ4oJaqdeos&feature=youtu.be"
      content: |-
            <h4>Inaugural LINKS webinar</h4>
            <p>Dr. Tom Frieden and Dr. Sandeep (Sunny) Kishore from the Arnhold Institute for Global Health led the inaugural LINKS webinar on single pill combination therapies for high blood pressure. You can <a href="https://www.youtube.com/watch?v=JQ4oJaqdeos&feature=youtu.be">watch the webinar on YouTube</a>.</p>
            
    - date: October 23, 2018
      align: right
      image: tanzania-ebola.jpg
      content: |-
            <h4>Tanzania prepares for Ebola</h4>
            <p>Tanzania has been gearing up to combat the Ebola virus, starting with its health care workers. <a href="https://preventepidemics.org/stories/scaling-up-ebola-preparedness-tanzania-trains-frontline-health-care-workers/">Read the story on Prevent Epidemics.org</a>.</p>

    - date: October 20, 2018
      align: left
      image: geneva-20-oct.jpg
      content: |-
            <h4>Global discussion on trans fat surveillance standards</h4>
            <p>We worked with the WHO and CDC at a two-day trans fat surveillance expert consultation. Participants reviewed and reached consensus on global trans fat surveillance standards.</p>

    - date: October 16, 2018
      align: right
      image: liberia-16-oct.jpg
      content: |-
            <h4>Supporting health security improvements in Liberia</h4>
            <p>We met with representatives from the National Public Health Institute of Liberia to discuss ways to accelerate progress on health security.</p>

    - date: October 3, 2018
      align: left
      image: pe-3-oct.jpg
      content: |-
            <h4>From data to action</h4>
            <p>Our Prevent Epidemics team met with colleagues from the Global Health Advocacy Incubator to prototype the second phase of <a href="https://preventepidemics.org/">PreventEpidemics.org</a>. The update is focused on moving from data to action.</p>

    - date: September 27, 2018
      align: right
      image: fuwai-27-sep.jpg
      content: |-
            <h4>Improving blood pressure control in China</h4>
            <p>Our team visited Fuwai Hospital Beijing and met with clinicians to discuss hypertension treatment and control.</p>

    - date: September 25, 2018
      align: left
      image: tom-25-sep.jpg
      content: |-
            <h4>Dr. Tom Frieden on Access to NCD Treatment and Care</h4>
            <p>During a side event at the UN General Assembly, Dr. Tom Frieden discusses the importance of political will, technical excellence and accessible health systems in blood pressure control.</p>


    - date: September 7, 2018
      align: left
      image: lancet-sept-2018.jpg
      imagelink: "https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31814-2/fulltext?dgcid=raven_jbs_etoc_email"
      content: |-
            <h4>"Fixed-dose combinations for hypertension"</h4><p>80 million people could have their blood pressure controlled if they switch to fixed-dose combination pills. Read more in <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31814-2/fulltext?dgcid=raven_jbs_etoc_email">this Lancet editorial</a>, co-authored by our team members Dr. Tom Frieden and Dr. Marc Jaffe.</p>

    - date: August 27, 2018
      align: right
      image: ICEID-2018.jpg
      content: |-
            <h4>ICEID conference in Atlanta</h4><p>The world’s leading infectious disease experts and country health officials gathered in Atlanta for the <a href="http://www.iceid.org/events/iceid-2018/event-summary-f71900f4a8c04f0896ad32ebb4478f09.aspx">ICEID conference</a>. Attendants were able to learn more about their country’s preparedness for the next epidemic through custom demos of <a href="http://PreventEpidemics.org">PreventEpidemics.org</a></p>

    - date: August 14, 2018
      align: left
      image: jama-aug-2018.jpg
      imagelink: "https://jamanetwork.com/journals/jama/article-abstract/2696988"
      content: |-
            <h4>Dr Marc Jaffe co-authored an article in JAMA</h4><p>Dr. Marc Jaffe co-authored <a href="https://jamanetwork.com/journals/jama/article-abstract/2696988">an editorial for the Journal of the American Medical Association</a>, stressing the importance of fixed-dose combination therapy for the control of blood pressure on a global scale.</p>

    - date: August 6, 2018
      align: left
      image: africa-aug-2018.jpg
      content: |-
            <h4>African Field Epidemiology Network</h4><p>We met with representatives of the <a href="http://www.afenet.net/">African Field Epidemiology Network</a>: they are a non-profit alliance dedicated to helping Ministries of Health in Africa build strong, effective, sustainable programs.</p>

    - date: July 20, 2018
      align: right
      image: vietnam-2018.jpg
      content: |-
            <h4>Viet Nam</h4><p>In July, <a href="http://www.who.int/countries/vnm/en/">WHO Viet Nam</a> and Resolve to Save Lives met with local clinicians to support the launch of Viet Nam’s hypertension control efforts. </p>

    - date: July 17, 2018
      align: left
      image: vietnam-committment-2018.jpg
      content: |-
            <h4>Progress in Viet Nam</h4><p>Viet Nam committed to improve blood pressure control rates and reduce salt intake during a launch workshop in Ha Noi on July 17. The Ministry of Health, WHO and our team will work together to select hypertension treatment protocols and establish ways to evaluate their impact. <a href="http://www.wpro.who.int/vietnam/mediacentre/shortnews/2018/joint_collaboration_tackle_ncd_vietnam/en/">Read more...</a></p>

    - date: July 2-6, 2018
      align: right
      image: tech-july-2018.jpg
      content: |-
            <h4>"Simple" app piloted in Punjab</h4><p>The Resolve to Save Lives tech team ran our first real-world pilot of the <a href="http://simple.org">Simple</a> Android application, which aims to help healthcare workers to longitudinally track their hypertensive patients.</p>

    - date: June 22, 2018
      align: full
      image: prevent-epidemics.jpg
      imagelink: "http://preventepidemics.org"
      content: |-
            <h4>PreventEpidemics.org</h4>
            <p>We launched  <a href="http://preventepidemics.org">PreventEpidemics.org</a>, an interactive website which spotlights gaps in epidemic preparedness and highlights actions that countries, donors, activists and organizations can take to fill them.</p>


    - date: May 30, 2018
      align: left
      image: china-may-2018.jpg
      content: |-
            <h4>Hypertension work in China</h4>
            <p>Dr. Marc Jaffe traveled to China to meet with partners at the World Bank and others, and to advance the hypertension prevention work. In this photo  Dr. Jaffe is having his blood pressure measured by Professor Liu Lisheng of the Beijing Lisheng Health Foundation.</p>

    - date: May 24, 2018
      align: right
      image: wha-may-2018.jpg
      content: |-
            <h4>2018 World Health Assembly</h4>
            <p>At the <a href="http://www.who.int/world-health-assembly/seventy-first">2018 World Health Assembly</a>, Dr. Tom Frieden participated in a discussion on “Reducing Sugar, Salt and Fat to Prevent NCDs.”</p>

    - date: May 14, 2018
      align: left
      image: lancet-replace.jpg
      content: |-
            <h4>Make the world trans fat free by 2023</h4>
            <p>The Lancet published <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31083-3/fulltext">"REPLACE a roadmap to make the world trans fat free by 2023"</a> written by Dr. Tedros Adhanom Ghebreyesus and Dr. Tom Frieden</p>
    

    - date: May 12, 2018
      align: full
      image: replace-launch.jpg
      content: <h4>REPLACE launched</h4><p>The World Health Organization announced REPLACE, a ground-breaking initiative developed in partnership with Resolve to Save Lives, which aims to eliminate trans fats from the global food supply by 2023. Read about it in <a href="https://www.nytimes.com/2018/05/14/health/trans-fats-who-ban.html">The New York Times</a>, <a href="https://www.cnn.com/2018/05/14/health/trans-fats-who-2023-intl-bn/index.html">CNN</a>, <a href="https://www.wsj.com/articles/food-makers-vow-to-cut-trans-fats-globally-1526271513">The Wall Street Journal</a>, or <a href="https://www.vox.com/science-and-health/2018/5/14/17346108/trans-fats-food-world-health-organization-bloomberg-gates">Vox</a>.</p>

    - date: May 1, 2018
      align: left
      image: tanzania-may-2018.jpg
      content: <h4>NAPHS in Nigeria</h4><p> Dr. Chris Lee traveled to Nigeria to support the government's development of their <a href="https://reliefweb.int/report/nigeria/nigeria-develops-national-action-plan-health-security">National Action Plan for Health Security</a>.</p>

---

<div class="home-feature-wrapper">
    <div class="home-feature">
        <h1>Our goals are to save 100 million lives from cardiovascular disease and to prevent epidemics.</h1>
    </div>
</div>

<div class="time">
    
    <span class="line"></span>
    
    <% current_page.data.timeline.each do |item| %>
        <div class="time-item time-<%= item.align %>">
            <div class="time-date"><%= item.date %></div>
            <div class="time-content">
                <% if item.imagelink %><a href="<%= item.imagelink %>"><% end %>
                    <% if item.image %><div class="image"><img src="/images/timeline/<%= item.image %>" alt=""></div><% end %>
                <% if item.imagelink %></a><% end %>
                <%= item.content %>
            </div>
        </div>
    <% end %>
    
    <div class="clear">&nbsp;</div>
    
</div>

<div class="content-footer">

    <h3>Global Implementing Partners</h3>
    &nbsp;
    <p class="partners">
    <a href="#"><img src="/images/partners/who.png" alt="World Health Organization"></a>
    <a href="#"><img src="/images/partners/world-bank.png" alt="The World Bank"></a>
    <a href="#"><img src="/images/partners/hopkins.png" alt="Johns Hopkins"></a>
    <a href="#"><img src="/images/partners/ghai.png" alt="Global Health Advocacy Incubator"></a>
    <a href="#"><img src="/images/partners/cdc.png" alt="CDC Foundation"></a>
    </p>

</div>