---
title: "Home"
section: "home"


timeline:

    - date: September 10, 2018
      align: left
      image: pe-sept-2018.jpg
      content: |-
            <p>A group of global experts met in Geneva on September 10 to brainstorm how to best act on preparedness data collected through country monitoring and evaluation systems. </p>


    - date: September 7, 2018
      align: right
      image: lancet-sept-2018.jpg
      imagelink: "https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31814-2/fulltext?dgcid=raven_jbs_etoc_email"
      content: |-
            <p>80 million people could have their blood pressure controlled if they switch to fixed-dose combination pills. Read more in <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31814-2/fulltext?dgcid=raven_jbs_etoc_email">this Lancet editorial</a>, co-authored by Tom Frieden and Marc Jaffe.</p>

    - date: August 27, 2018
      align: left
      content: |-
            <p>The world’s leading infectious disease experts and country health officials gathered in Atlanta in August for the <a href="http://www.iceid.org/events/iceid-2018/event-summary-f71900f4a8c04f0896ad32ebb4478f09.aspx">ICEID conference</a>. Attendants were able to learn more about their country’s preparedness for the next epidemic through custom demos of <a href="http://PreventEpidemics.org">PreventEpidemics.org</a></p>

    - date: August 14, 2018
      align: right
      image: jama-aug-2018.jpg
      imagelink: "https://jamanetwork.com/journals/jama/article-abstract/2696988"
      content: |-
            <p>Dr. Marc Jaffe co-authored <a href="https://jamanetwork.com/journals/jama/article-abstract/2696988">an editorial for the Journal of the American Medical Association</a>, stressing the importance of fixed-dose combination therapy for the control of blood pressure on a global scale.</p>

    - date: July 20, 2018
      align: left
      image: vietnam-2018.jpg
      content: |-
            <p>In July, WHO Viet Nam and Resolve to Save Lives met with local clinicians to support the launch of Viet Nam’s hypertension control efforts. </p>

    - date: July 2-6, 2018
      align: left
      image: tech-july-2018.jpg
      content: |-
            <p>The Resolve to Save Lives tech team, ran our first real-world pilot of the <a href="http://simple.org">Simple</a> Android application, which aims to help healthcare workers to longitudinally track their hypertensive patients.</p>

    - date: June 22, 2018
      align: full
      image: pe-aug-2018.jpg
      imagelink: "http://preventepidemics.org"
      content: |-
            <p>Resolve to Save Lives launched  <a href="http://preventepidemics.org">PreventEpidemics.org</a>, an interactive website which spotlights gaps in epidemic preparedness and highlights actions that countries, donors, activists and organizations can take to fill them.</p>


    - date: May 30, 2018
      align: left
      image: china-may-2018.jpg
      content: |-
            <p>Dr. Marc Jaffe traveled to China to meet with partners at the World Bank and others, and advance the hypertension prevention work. In this photo  Dr. Jaffe is having his blood pressure measured by Professor Liu Lisheng of the Beijing Lisheng Health Foundation.</p>

    - date: May 24, 2018
      align: right
      image: wha-may-2018.jpg
      content: |-
            <p>Dr. Tom Frieden participated in a panel discussion entitled “Reducing Sugar, Salt and Fat to Prevent NCDs.” Topics presented and discussed included the benefits of banning trans fat, Vital Strategies’ sugary drinks and sodium-reduction campaigns and case studies of industry efforts to block public health programs. </p>

    - date: May 14, 2018
      align: left
      content: |-
            <p>The Lancet published <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31083-3/fulltext">"REPLACE a roadmap to make the world trans fat free by 2023"</a> written by Dr. Tedros Adhanom Ghebreyesus and Dr. Tom Frieden</p>
    

    - date: May 12, 2018
      align: full
      image: replace-launch.jpg
      content: <p><strong>WHO announces REPLACE</strong> &#8212; The World Health Organization announced REPLACE, a ground-breaking initiative developed in partnership with Resolve to Save Lives, which aims to eliminate trans fats from the global food supply by 2023. Read about it in <a href="https://www.nytimes.com/2018/05/14/health/trans-fats-who-ban.html">The New York Times</a>, <a href="https://www.cnn.com/2018/05/14/health/trans-fats-who-2023-intl-bn/index.html">CNN</a>, <a href="https://www.wsj.com/articles/food-makers-vow-to-cut-trans-fats-globally-1526271513">The Wall Street Journal</a>, or <a href="https://www.vox.com/science-and-health/2018/5/14/17346108/trans-fats-food-world-health-organization-bloomberg-gates">Vox</a>.</p>

    - date: May 1, 2018
      align: left
      image: tanzania-may-2018.jpg
      content: <p>Dr. Cyrus Shahpar traveled to Tanzania to participate in the AFRO regional strengthening workshop for international health regulations. He was joined by colleagues from WHO AFRO Region, US HHS, Public Health England, WHO HQ, and AFRO staff.</p>

    - date: April 4, 2018
      align: right
      content: <p>The state of Kerala launched the India Hypertension Management Initiative on Wednesday, April 4. <a href="http://www.thehindu.com/todays-paper/tp-national/tp-kerala/lifestyle-diseases-screening-initiative/article23430147.ece">Read about the launch in The Hindu.</a></p>


---

<div class="home-feature-wrapper">
    <div class="home-feature">
        <h1>Our goal is to save 100<em>M</em> lives from cardiovascular disease and to prevent epidemics.</h1>
        <p>Resolve to Save Lives is a public health accelerator. We provide funding <i>and</i> operational support to governments and civil society in low- and middle-income countries, to implement proven strategies.</p>
    </div>
    <h2>Recent work from our team</h2>
</div>
<div class="time">
    
    <span class="line"></span>
    
    <% current_page.data.timeline.each do |item| %>
        <div class="time-item time-<%= item.align %>">
            <div class="time-date"><%= item.date %></div>
            <div class="time-content">
                <% if item.imagelink %><a href="<%= item.imagelink %>"><% end %>
                    <% if item.image %><div class="image"><img src="/images/timeline/<%= item.image %>" alt=""></div><% end %>
                <% if item.imagelink %></a><% end %>
                <%= item.content %>
            </div>
        </div>
    <% end %>
    
    <div class="clear">&nbsp;</div>
    
</div>
<div>

    <h2 style="padding-top: 3em;">Our partners</h2>
    <p class="partners">
    <a href="#"><img src="/images/partners/who.png" alt="World Health Organization"></a>
    <a href="#"><img src="/images/partners/world-bank.png" alt="The World Bank"></a>
    <a href="#"><img src="/images/partners/hopkins.png" alt="Johns Hopkins"></a>
    <a href="#"><img src="/images/partners/ghai.png" alt="Global Health Advocacy Incubator"></a>
    <a href="#"><img src="/images/partners/cdc.png" alt="CDC Foundation"></a>
    </p>

</div>