---
title: "Team"
section: "team"

top_members:

    - name: Dr. Tom Frieden (<a href="/tom-frieden">Bio</a>)
      title: President and CEO
      location: New York, USA
      user_name: Frieden_Tom
      description: Dr. Tom Frieden is one of the world’s leading public health experts. Prior to founding Resolve to Save Lives, Tom was the Director of the US Centers for Disease Control.   

cvd_members:

  - name: Adefunke (Funke) Ajenikoko
    title: Program Assistant 
    user_name: Ajenikoko_Adefunke
    location: New York, USA

  - name: Dr. Molla Berhanu
    title: Regional Coordinator
    user_name: berhanu_molla
    location: Amhara Region, Ethiopia

  - name: Dawit Bisrat
    title: Ethiopia National Coordinator
    user_name: bisrat_dawit
    location: Addis Ababa, Ethiopia
  
  - name: Daniel Burka
    title: Director of Product &amp; Design 
    user_name: Burka_Daniel
    location: New York, USA

  - name: Danielle Cazabon
    title: Program Manager, Hypertension Control
    user_name: danielle-cazabon
    location: New York, USA
    
  - name: Tim Cheadle
    title: Director of Engineering 
    user_name: Cheadle_Tim
    location: North Carolina, USA

  - name: Dr. Laura Cobb
    title: Director, Nutrition Policy and Surveillance
    user_name: Cobb_Laura
    location: New York, USA

  - name: Sharmila Das
    title: Finance Manager, Consultant
    user_name: Das_Sharmila
    location: Delhi, India

  - name: Tilahun Derseh
    title: Regional Coordinator
    user_name: derseh_tilahun
    location: SNNP Region, Ethiopia

  - name: Girma Dessie
    title: Regional Coordinator
    user_name: dessie_girma
    location: Oromia Region, Ethiopia

  - name: Meg Farrell
    title: Senior Program Officer
    user_name: Farrell_Meg
    location: New York, USA

  - name: Ping Hu
    title: Director of Health Informatics
    user_name: Hu_Ping
    location: Jinan, China

  - name: Nicole Ide
    title: Program Officer, Sodium and Surveillance
    user_name: Ide_Nicole
    location: New York, USA

  - name: Lindsay Joseph
    title: Program Officer, LINKS
    user_name: Joseph_Lindsay
    location: New York, USA

  - name: Mansi Kapoor
    title: Operations Manager, Consultant
    user_name: Kapoor_Mansi
    location: Delhi, India

  - name: Dr. Ashish Krishna
    title: Senior Consultant, Cardiovascular Health
    user_name: Krishna_Ashish
    location: Delhi, India

  - name: Praveen Kumar
    title: Health Data App Coordinator Consultant
    user_name: Kumar_Praveen
    location: Chandigarh, India

  - name: Dr Youwen Lai
    title: Senior Program Manager
    user_name: Lai_Youwen
    location: Jinan, China

  - name: Xiaobei Ma
    title: Communications Manager
    user_name: xiaobei-ma
    location: Beijing, China
    
  - name: Dr. Andrew Moran
    title: Director, Global Hypertension Control Program
    user_name: user
    location: New York, NY

  - name: Sagri Negi
    title: Private Healthcare Engagement Consultant
    user_name: Negi_Sagri
    location: Delhi, India 

  - name: Dr. Anupam Pathni
    title: Deputy Lead, Cardiovascular Health Consultant
    user_name: Pathni_Anupam
    location: Delhi, India

  - name: Swagata Sahoo
    title: Consultant, Drug Supply
    user_name: Sahoo_Swagata
    location: Delhi, India

  - name: Dr. Bhawna Sharma
    title: India Country Director Consultant
    user_name: Sharma_Bhawna
    location: Delhi, India

  - name: Dr. Roopa Shivashankar
    title: Senior Consultant
    user_name: Shivashankar_Roopa
    location: Delhi, India

  - name: Chang Shu
    title: Operations Manager, Consultant
    user_name: Shu_Chang
    location: Beijing, China 

  - name: Lindsay Steele
    title: Senior Program Officer
    user_name: Steele_Lindsay
    location: New York, USA

  - name: Dr. Zhen Tan
    title: Director, Hypertension Control
    user_name: user
    location: Beijing, China

  - name: Teshome Tegegn
    title: Regional Coordinator
    user_name: tegegn_teshome
    location: Dire Dawa City, Ethiopia

  - name: Eyassu Weldesenbet
    title: Regional Coordinator
    user_name: weldesenbet_eyassu
    location: Tigrai Region, Ethiopia

  - name: Abdikayd Yesuf
    title: Regional Coordinator
    user_name: yesuf_abdikayd
    location: Somali Region, Ethiopia

  - name: Dr. Shumei Yun
    title: China Country Director
    user_name: Yun_Shumei
    location: Beijing, China
    

pe_members:

  - name: Amanda McClelland (<a href="/amanda_mcclelland">Bio</a>)
    title: Senior Vice President
    user_name: McClelland_Amanda
    location: New York, USA

  - name: Jobin Abraham
    title: Program Management Specialist
    user_name: Abraham_Jobin
    location: New York, USA

  - name: Cedric Aperce
    title: Legal Advisor
    user_name: Aperce_Cedric
    location: Paris, France

  - name: Marine Buissonnière
    title: Senior Advisor Consultant
    user_name: Buissonniere_Marine
    location: Puerto Rico, USA

  - name: Dr. Chris Lee
    title: Senior Technical Advisor
    user_name: Lee_Christopher
    location: New York, USA

  - name: Dr. Cyrus Shahpar
    title: Director
    user_name: Shahpar_Cyrus
    location: New York, USA

  - name: Kate Whittemore
    title: Program Coordinator
    user_name: Whittemore_Kate
    location: New York, USA
  
  - name: Colby Wilkason
    title: Technical Advisor
    user_name: user
    location: New York, USA


ops_members:

  - name: Jeannie Mantopoulos (<a href="/jeannie-mantopoulos">Bio</a>)
    title: Chief Operating Officer
    user_name: Mantopoulos_Jeannie
    location: New York, USA

  - name: Emma Bradford
    title: Communications Associate
    user_name: Bradford_Emma
    location: New York, USA

  - name: Kwame Effah-Wiafe
    title: Finance Assistant
    user_name: kwame_effahwiafe
    location: New York, USA

  - name: Kate Elliott
    title: Communications Officer
    user_name: Elliott_Kate
    location: New York, USA

  - name: Robynn Leidig
    title: Manager, Strategic Initiatives
    user_name: Leidig_Robynn
    location: New York, USA

  - name: Dorothy Lohnau
    title: Grants Operations Manager
    user_name: user
    location: New York, USA

  - name: Tamia McCormick
    title: Contract Coordinator
    user_name: user
    location: New York, USA

  - name: Erin Sykes
    title: Communications Director
    user_name: Sykes_Erin
    location: Georgia, USA

  - name: Dr. Ioanna Trilivas
    title: Senior Talent and Leadership Advisor
    user_name: Trilivas_Ioanna
    location: New York, USA

  - name: Adolphine Umukobwa
    title: Operations Manager 
    user_name: user
    location: New York, USA


---

<h1>Our team</h1>

<p class="intro">Our team of global health experts works with governments to help them implement evidence-based strategies that allow their citizens to lead the healthiest lives possible.</p>

<p>Resolve to Save Lives is led by Dr. Tom Frieden, former Director of the <a href="https://www.cdc.gov/">Centers for Disease Control and Prevention</a>, and is housed within <a href="http://vitalstrategies.org">Vital Strategies</a>.</p>

<div class="team">
    
    <div class="members-secondary">
        
        <% current_page.data.top_members.each do |member| %>
            <div class="member">
                <div class="member-contents">
                    <h4><%= member.name %> <img src="/images/team/thumb/<%= member.user_name %>.jpg" alt=""></h4>
                    <div class="title"><%= member.title %></div>
                    <p><%= member.description %></p>
                    <span><%= member.location %></span>
                    <%= member.bio %>
                </div>
            </div>
        <% end %>
        
    </div>
    
    <div class="members-secondary">
        <h3>Prevent epidemics</h3>
        
        <% current_page.data.pe_members.each do |member| %>
            <div class="member">
                <div class="member-contents">
                    <h4><%= member.name %> <img src="/images/team/thumb/<%= member.user_name %>.jpg" alt=""></h4>
                    <div class="title"><%= member.title %></div>
                    <p><%= member.description %></p>
                    <span><%= member.location %></span>
                    <%= member.bio %>
                </div>
            </div>
        <% end %>
        
    </div>
    
    <div class="members-secondary">
        <h3>Cardiovascular health</h3>
        
        <% current_page.data.cvd_members.each do |member| %>
            <div class="member">
                <div class="member-contents">
                    <h4><%= member.name %> <img src="/images/team/thumb/<%= member.user_name %>.jpg" alt=""></h4>
                    <div class="title"><%= member.title %></div>
                    <p><%= member.description %></p>
                    <span><%= member.location %></span>
                    <%= member.bio %>
                </div>
            </div>
        <% end %>
        
    </div>
    
    <div class="members-secondary">
        <h3>Operations</h3>
        
        <% current_page.data.ops_members.each do |member| %>
            <div class="member">
                <div class="member-contents">
                    <h4><%= member.name %> <img src="/images/team/thumb/<%= member.user_name %>.jpg" alt=""></h4>
                    <div class="title"><%= member.title %></div>
                    <p><%= member.description %></p>
                    <span><%= member.location %></span>
                    <%= member.bio %>
                </div>
            </div>
        <% end %>
        
    </div>
    
    <div class="clear">&nbsp;</div>
</div>